<div class="jumbotron">
  <h1 class="display-4 text-center">Корзина</h1>

  <div class="cart" *ngIf="cart.length!==0; else emptyCart">
    <table class="table">
      <tr class="text-center font-weight-bold">
        <th>&nbsp;</th>
        <th><h5>Наименование</h5></th>
        <th><h5>Размер</h5></th>
        <th><h5>Количество</h5></th>
        <th><h5>Стоимость</h5></th>
        <th><h5>Удалить</h5></th>
      </tr>
      <tr *ngFor="let product of cart" class="text-center">
        <td><img src="{{product.imageBinaryString}}" width="50px" height="50px"></td>
        <td><h6>{{product.title}}</h6></td>
        <td><h6>{{product.selectedPortion.size}}</h6></td>
        <td>
          <h6>
            <button type="button" class="btn btn-outline-danger" (click)="minusProduct(product)">&minus;</button>
            &nbsp;{{product.count}}&nbsp;
            <button type="button" class="btn btn-outline-danger" (click)="addProduct(product)">+</button>
          </h6>
        </td>
        <td><h6>{{product.selectedPortion.price}}₴</h6></td>
        <td><h6></h6></td>
      </tr>
      <tr class="text-center">
        <td class="font-weight-bold"><h3>Total</h3></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="font-weight-bold"><h3>{{getTotalPrice()}}₴</h3></td>
        <td></td>
      </tr>
    </table>
    <button type="button" class="btn btn-outline-danger col-sm-6 col-md-3" (click)="clear()">Очистить корзину</button>
    <button type="button" class="btn btn-outline-danger col-sm-6 col-md-3 offset-md-6">Перейти к оформлению заказа</button>
  </div>
</div>

<ng-template #emptyCart>
  <p class="lead emptyCart text-center font-weight-light">Корзина пуста</p>
  <p class="lead emptyCart">
    <a class="btn btn-outline-danger btn-lg" href="#" role="button" routerLink="/pizza">&#8592; Вернуться к заказу товаров</a>
  </p>
</ng-template>
