<div class="jumbotron">
  <h1 class="display-4 text-center">Спасибо за покупку!</h1>
  <p class="lead">Ожидайте курьера. Он уже выехал по вашему адресу.</p>
  <p class="lead">Обратите внмание, что оплата в нашем интернет-ресторане производится только курьеру!</p>
  <h4>
    <footer class="blockquote-footer text-right">Искренне ваш, <cite title="Sunshine Food">Sunshine Food</cite></footer>
  </h4>
  <p class="lead">
    <a class="btn btn-outline-danger btn-lg" href="#" role="button" routerLink="/pizza">&#8592; Заказать ещё</a>
  </p>
</div>
