<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#">Sunshine Food</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/pizza">Пицца <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" routerLink="/sushi">Роллы</a>
          <a class="nav-item nav-link" routerLink="/salads">Салаты</a>
          <a class="nav-item nav-link" routerLink="/drinks">Напитки</a>
        </div>
      </div>
      <button type="button" class="btn btn-outline-danger" routerLink="/cart">
        Корзина <span class="badge badge-light">{{getCart().length}}</span>
        <span class="sr-only">В корзине 7 товаров</span>
      </button>
    </nav>

  <router-outlet></router-outlet>

</div>
