a.nav-item.nav-link {
  border-bottom: 0.5px solid black;
  margin: 0 10px;
  padding: 0;
}

.navbar-brand {
  padding-right: 20px;
}

a.nav-item.nav-link:hover{
  color:red;
  border: none;
}

.text-xs-right{
  text-align: right !important;
}

.login{
  margin-left: 25px;
}
