<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
  <div class="card" appHover>
    <div class="card-image">
      <img src="{{product.imageBinaryString}}">
    </div>
    <div class="card-content">
      <p class="product-title">{{product.title}}</p>
      <p class="product-description" *ngIf="product.description!=null; else zeroHeight">{{product.description}}</p>
      <div class="btn-group btn-block" *ngIf="isList; else singlePrice">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{selectedValue}}
        </button>
        <div class="dropdown-menu btn-block">
          <a class="dropdown-item" *ngFor="let portion of product.portions" (click)="selectValue(portion)">
            {{portion.size}}
          </a>
        </div>
      </div>
      <p class="product-price">{{ selectedPrice ? selectedPrice : product.portions[0].price}} ₴</p>
      <button type="button" class="btn btn-outline-danger btn-block" (click)="addToCart(product)">В корзину</button>
    </div>
  </div>
</div>
<ng-template #singlePrice>

</ng-template>
<ng-template #zeroHeight></ng-template>
