.card{
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.card-content{
  margin: 0 20px;
}

.card-image{
  width: 200px;
  height: 200px;
}

.product-description{
  font-size: 10px;
  height:70px;
}

.product-price{
  margin: 10px 0;
  font-weight: 500;
  font-size: 23px;
}
