<div class="row">
  <div *ngFor="let product of products" class="col-sm-6 col-md-4 col-lg-3" appHover>
    <div class="card">
      <div class="card-image">
        <img src="{{product.imageBinaryString}}" height="20px" width="20px">
      </div>
      <div class="card-content">
        <p class="product-title">{{product.title}}</p>
        <p class="product-description">{{product.description}}</p>
        <div class="btn-group btn-block">
          <button type="button" class="btn btn-outline-secondary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Размер
          </button>
          <div class="dropdown-menu btn-block">
            <a class="dropdown-item" *ngFor="let portion of product.portions">{{portion.size}}см</a>
          </div>
        </div>
        <p class="product-price">{{product.portions[0].price}} ₴</p>
        <button type="button" class="btn btn-outline-danger btn-block">В корзину</button>
      </div>
    </div>
  </div>
</div>


